<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "1.0.0" >
  <name>Test</name>
  <description>Ini test</description>
  <author href="http://ramaditya.pe.hu" email="ramaditya.id@gmail.com">Ramaditya Satria</author>
  <content src="index.html"/>
  <plugin spce="https://github.com/apache/cordova-plugin-whitelist" source="git"/>
  <access origin="*" />
  <allow-navigation href="*" />
</widget>
